<div class="container">
    <div class="textos">
        <h1>Gap, row-gap e column-gap</h1>
        <p> Podemos indicar qual o espaço entre linhas e colunas de um container. Para isso usamos as propriedades column-gap e row-gap.</p>
        <p> O gap é um atalho para declarar as duas propriedades em um só lugar. Se você passar um único valor, os dois serão aplicados para o espaço para linhas e colunas. Se passar dois valores, o primeiro será para linhas e o segundo para colunas.</p>
    </div>
    <div class="exemplos">
        <div class="direction-row">
            <p> 1 -  row-gap: 70px; ou  gap: 70px 0px;</p>
            <div class="gap-row">
                <div class="box-1">
                    <img width="100" src="assets/img/1.png"/>
                </div>
                <div class="box-2">
                    <img width="100" src="assets/img/2.png"/>
                </div>
                <div class="box-3">
                    <img width="100" src="assets/img/3.png"/>
                </div>
                <div class="box-4">
                    <img width="100" src="assets/img/4.png"/>
                </div>
                <div class="box-4">
                    <img width="100" src="assets/img/4.png"/>
                </div>
                <div class="box-4">
                    <img width="100" src="assets/img/1.png"/>
                </div>
                <div class="box-4">
                    <img width="100" src="assets/img/3.png"/>
                </div>
                <div class="box-4">
                    <img width="100" src="assets/img/1.png"/>
                </div>
                <div class="box-4">
                    <img width="100" src="assets/img/3.png"/>
                </div>
            </div>
        </div>
        <div class="direction-row">
            <p> 2 -  column-gap: 70px; ou  gap: 0px 70px;</p>
            <div class="gap-column">
                <div class="box-1">
                    <img width="100" src="assets/img/1.png"/>
                </div>
                <div class="box-2">
                    <img width="100" src="assets/img/2.png"/>
                </div>
                <div class="box-3">
                    <img width="100" src="assets/img/3.png"/>
                </div>
                <div class="box-4">
                    <img width="100" src="assets/img/4.png"/>
                </div>
                <div class="box-4">
                    <img width="100" src="assets/img/4.png"/>
                </div>
                <div class="box-4">
                    <img width="100" src="assets/img/1.png"/>
                </div>
                <div class="box-4">
                    <img width="100" src="assets/img/3.png"/>
                </div>
                <div class="box-4">
                    <img width="100" src="assets/img/1.png"/>
                </div>
                <div class="box-4">
                    <img width="100" src="assets/img/3.png"/>
                </div>
            </div>
        </div>
        <div class="direction-row">
            <p> 3 - row-gap: 20px; column-gap: 40px; ou  gap: 20px 40px;</p>
            <div class="gap">
                <div class="box-1">
                    <img width="100" src="assets/img/1.png"/>
                </div>
                <div class="box-2">
                    <img width="100" src="assets/img/2.png"/>
                </div>
                <div class="box-3">
                    <img width="100" src="assets/img/3.png"/>
                </div>
                <div class="box-4">
                    <img width="100" src="assets/img/4.png"/>
                </div>
                <div class="box-4">
                    <img width="100" src="assets/img/4.png"/>
                </div>
                <div class="box-4">
                    <img width="100" src="assets/img/1.png"/>
                </div>
                <div class="box-4">
                    <img width="100" src="assets/img/3.png"/>
                </div>
                <div class="box-4">
                    <img width="100" src="assets/img/1.png"/>
                </div>
                <div class="box-4">
                    <img width="100" src="assets/img/3.png"/>
                </div>
            </div>
        </div>
    </div>
</div>

