<div class="container">
    <div class="textos">
        <h1> Justify-content</h1>
        <p> Justify-content posiciona os itens flex ao longo do eixo principal do container.</p>    
        <p> Nos exemplos, vamos utilizar o eixo principal do flex-direction: row.</p> 
    </div>  
    <div class="exemplos">
        <div class="direction-row">
            <p> 1 - justify-content: flex-start;</p>
            <div class="flex-start">
                <div class="box-1">
                    <img width="100" src="assets/img/1.png"/>
                </div>
                <div class="box-2">
                    <img width="100" src="assets/img/2.png"/>
                </div>
                <div class="box-3">
                    <img width="100" src="assets/img/3.png"/>
                </div>
                <div class="box-4">
                    <img width="100" src="assets/img/4.png"/>
                </div>
            </div>
        </div>
        <div class="direction-row">
            <p> 2 - justify-content: flex-end;</p>
            <div class="flex-end">
                <div class="box-1">
                    <img width="100" src="assets/img/1.png"/>
                </div>
                <div class="box-2">
                    <img width="100" src="assets/img/2.png"/>
                </div>
                <div class="box-3">
                    <img width="100" src="assets/img/3.png"/>
                </div>
                <div class="box-4">
                    <img width="100" src="assets/img/4.png"/>
                </div>
            </div>
        </div>
        <div class="direction-row">
            <p> 3 - justify-content: center;</p>
            <div class="center">
                <div class="box-1">
                    <img width="100" src="assets/img/1.png"/>
                </div>
                <div class="box-2">
                    <img width="100" src="assets/img/2.png"/>
                </div>
                <div class="box-3">
                    <img width="100" src="assets/img/3.png"/>
                </div>
                <div class="box-4">
                    <img width="100" src="assets/img/4.png"/>
                </div>
            </div>
        </div>
        <div class="direction-row">
            <p> 4 - justify-content: space-between;</p>
            <div class="space-between">
                <div class="box-1">
                    <img width="100" src="assets/img/1.png"/>
                </div>
                <div class="box-2">
                    <img width="100" src="assets/img/2.png"/>
                </div>
                <div class="box-3">
                    <img width="100" src="assets/img/3.png"/>
                </div>
                <div class="box-4">
                    <img width="100" src="assets/img/4.png"/>
                </div>
            </div>
        </div>
        <div class="direction-row">
            <p> 5 - justify-content: space-around;</p>
            <div class="space-around">
                <div class="box-1">
                    <img width="100" src="assets/img/1.png"/>
                </div>
                <div class="box-2">
                    <img width="100" src="assets/img/2.png"/>
                </div>
                <div class="box-3">
                    <img width="100" src="assets/img/3.png"/>
                </div>
                <div class="box-4">
                    <img width="100" src="assets/img/4.png"/>
                </div>
            </div>
        </div>
    </div>
</div>

