<div class="container">
    <div class="textos">
        <h1>Flex-Direction</h1>
        <p> Flex-direction define como os itens flexíveis são colocados no contêiner flexível, definindo o eixo principal e a direção (normal ou invertido).</p>    </div>
    <div class="exemplos">
        <div class="direction-row">
            <p> 1 - flex-direction: row;</p>
            <div class="container-box-row">
                <div class="box-1">
                    <img width="100" src="assets/img/1.png"/>
                </div>
                <div class="box-2">
                    <img width="100" src="assets/img/2.png"/>
                </div>
                <div class="box-3">
                    <img width="100" src="assets/img/3.png"/>
                </div>
                <div class="box-4">
                    <img width="100" src="assets/img/4.png"/>
                </div>
            </div>
        </div>
        <div class="direction-row-reverse">
            <p> 2 - flex-direction: row-reverse;</p>
            <div class="container-box-row-reverse">
                <div class="box-1">
                    <img width="100" src="assets/img/1.png"/>
                </div>
                <div class="box-2">
                    <img width="100" src="assets/img/2.png"/>
                </div>
                <div class="box-3">
                    <img width="100" src="assets/img/3.png"/>
                </div>
                <div class="box-4">
                    <img width="100" src="assets/img/4.png"/>
                </div>
            </div>
        </div>
        <div class="direction-column">
            <p> 3 - flex-direction: column;</p>
            <div class="container-box-column">
                <div class="box-1">
                    <img width="100" src="assets/img/1.png"/>
                </div>
                <div class="box-2">
                    <img width="100" src="assets/img/2.png"/>
                </div>
                <div class="box-3">
                    <img width="100" src="assets/img/3.png"/>
                </div>
                <div class="box-4">
                    <img width="100" src="assets/img/4.png"/>
                </div>
            </div>
        </div>
        <div class="direction-column-reverse">
            <p> 4 - flex-direction: column-reverse;</p>
            <div class="container-box-column-reverse">
                <div class="box-1">
                    <img width="100" src="assets/img/1.png"/>
                </div>
                <div class="box-2">
                    <img width="100" src="assets/img/2.png"/>
                </div>
                <div class="box-3">
                    <img width="100" src="assets/img/3.png"/>
                </div>
                <div class="box-4">
                    <img width="100" src="assets/img/4.png"/>
                </div>
            </div>
        </div>
    </div>
</div>

