<div class="container">
    <div class="textos">
        <h1>Align-items</h1>
        <p> Align-items controla o alinhamento de todos os itens no eixo transversal. De certa forma, funciona de forma similar ao justify-content, porém no eixo transversal (perpendicular ao eixo principal).</p>
        <p> Nos exemplos, vamos utilizar o eixo principal do flex-direction: row.</p>   
    </div>
    <div class="exemplos">
        <div class="direction-row">
            <p> 1 - align-items: flex-start;</p>
            <div class="flex-start">
                <div class="box-1">
                    <img width="100" src="assets/img/1.png"/>
                </div>
                <div class="box-2">
                    <img width="100" src="assets/img/2.png"/>
                </div>
                <div class="box-3">
                    <img width="100" src="assets/img/3.png"/>
                </div>
                <div class="box-4">
                    <img width="100" src="assets/img/4.png"/>
                </div>
            </div>
        </div>
        <div class="direction-row">
            <p> 2 - align-items: flex-end;</p>
            <div class="flex-end">
                <div class="box-1">
                    <img width="100" src="assets/img/1.png"/>
                </div>
                <div class="box-2">
                    <img width="100" src="assets/img/2.png"/>
                </div>
                <div class="box-3">
                    <img width="100" src="assets/img/3.png"/>
                </div>
                <div class="box-4">
                    <img width="100" src="assets/img/4.png"/>
                </div>
            </div>
        </div>
        <div class="direction-row">
            <p> 3 - align-items: center;</p>
            <div class="center">
                <div class="box-1">
                    <img width="100" src="assets/img/1.png"/>
                </div>
                <div class="box-2">
                    <img width="100" src="assets/img/2.png"/>
                </div>
                <div class="box-3">
                    <img width="100" src="assets/img/3.png"/>
                </div>
                <div class="box-4">
                    <img width="100" src="assets/img/4.png"/>
                </div>
            </div>
        </div>
    </div>
</div>

