<div class="container">
    <div class="textos">
        <h1>Flex-wrap</h1>
        <p> Define se os itens devem quebrar ou não a linha. Por padrão eles não quebram linha, isso faz com que os flex itens sejam compactados além do limite do conteúdo.</p>
    </div>
    <div class="exemplos">
        <div class="direction-row">
            <p> 1 - flex-wrap: nowrap; (vem por padrão)</p>
            <div class="nowrap">
                <div class="box-1">
                    <img width="100" src="assets/img/1.png"/>
                </div>
                <div class="box-2">
                    <img width="100" src="assets/img/2.png"/>
                </div>
                <div class="box-3">
                    <img width="100" src="assets/img/3.png"/>
                </div>
                <div class="box-4">
                    <img width="100" src="assets/img/4.png"/>
                </div>
                <div class="box-4">
                    <img width="100" src="assets/img/4.png"/>
                </div>
                <div class="box-4">
                    <img width="100" src="assets/img/1.png"/>
                </div>
                <div class="box-4">
                    <img width="100" src="assets/img/3.png"/>
                </div>
                <div class="box-4">
                    <img width="100" src="assets/img/1.png"/>
                </div>
                <div class="box-4">
                    <img width="100" src="assets/img/3.png"/>
                </div>
            </div>
        </div>
        <div class="direction-row">
            <p> 2 - flex-wrap: wrap;</p>
            <div class="wrap">
                <div class="box-1">
                    <img width="100" src="assets/img/1.png"/>
                </div>
                <div class="box-2">
                    <img width="100" src="assets/img/2.png"/>
                </div>
                <div class="box-3">
                    <img width="100" src="assets/img/3.png"/>
                </div>
                <div class="box-4">
                    <img width="100" src="assets/img/4.png"/>
                </div>
                <div class="box-4">
                    <img width="100" src="assets/img/4.png"/>
                </div>
                <div class="box-4">
                    <img width="100" src="assets/img/1.png"/>
                </div>
                <div class="box-4">
                    <img width="100" src="assets/img/3.png"/>
                </div>
                <div class="box-4">
                    <img width="100" src="assets/img/1.png"/>
                </div>
                <div class="box-4">
                    <img width="100" src="assets/img/3.png"/>
                </div>
            </div>
        </div>
        <div class="direction-row">
            <p> 3 - flex-wrap: wrap-reverse;</p>
            <div class="wrap-reverse">
                <div class="box-1">
                    <img width="100" src="assets/img/1.png"/>
                </div>
                <div class="box-2">
                    <img width="100" src="assets/img/2.png"/>
                </div>
                <div class="box-3">
                    <img width="100" src="assets/img/3.png"/>
                </div>
                <div class="box-4">
                    <img width="100" src="assets/img/4.png"/>
                </div>
                <div class="box-4">
                    <img width="100" src="assets/img/4.png"/>
                </div>
                <div class="box-4">
                    <img width="100" src="assets/img/1.png"/>
                </div>
                <div class="box-4">
                    <img width="100" src="assets/img/3.png"/>
                </div>
                <div class="box-4">
                    <img width="100" src="assets/img/1.png"/>
                </div>
                <div class="box-4">
                    <img width="100" src="assets/img/3.png"/>
                </div>
            </div>
        </div>
    </div>
</div>

