.container{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-left: 50px;
}

.flex-start{
    border: 4px dotted #D3D93B;
    width: 700px;
    height: 350px;
    display: flex;
    margin: 10px;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-content: flex-start;
}

.flex-end{
    border: 4px dotted #D3D93B;
    width: 700px;
    height: 350px;
    display: flex;
    margin: 10px;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-content: flex-end;
}

.center{
    border: 4px dotted #D3D93B;
    width: 700px;
    height: 350px;
    display: flex;
    margin: 10px;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
}

.space-between{
    border: 4px dotted #D3D93B;
    width: 700px;
    height: 350px;
    display: flex;
    margin: 10px;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-content: space-between;
}

.space-around{
    border: 4px dotted #D3D93B;
    width: 700px;
    height: 350px;
    display: flex;
    margin: 10px;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-content: space-around;
}


p{
    size: 20px;
}

.exemplos{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}