<div class="container">
        <div class="textos">
            <h1>Display: flex;</h1>
            <p> O display: flex funciona de uma maneira diferente dos outros displays. Quando colocamos essa propriedade em um elemento, esse elemento se torna um flex container, tornando os seus filhos flex-itens.</p>
            <p> Por padrão, quando aplicamos display: flex para um elemento, todos os filhos ficam um do lado do outro como se estivessem sob o efeito de display: inline.</p>
        </div>
        <div class="exemplos">
            <div class="sem-flex">
                <p> 1 - Exemplo de Container sem display:flex</p>
                <div class="container-box">
                    <div class="box-1">
                        <img width="100" src="assets/img/1.png"/>
                    </div>
                    <div class="box-2">
                        <img width="100" src="assets/img/2.png"/>
                    </div>
                    <div class="box-3">
                        <img width="100" src="assets/img/3.png"/>
                    </div>
                    <div class="box-4">
                        <img width="100" src="assets/img/4.png"/>
                    </div>
                </div>
            </div>
            
            <div class="com-flex">
                <p> 2 - Exemplo de Container com display:flex</p><br>
                <div class="container-box-flex">
                    <div class="box-1">
                        <img width="100" src="assets/img/1.png"/>
                    </div>
                    <div class="box-2">
                        <img width="100" src="assets/img/2.png"/>
                    </div>
                    <div class="box-3">
                        <img width="100" src="assets/img/3.png"/>
                    </div>
                    <div class="box-4">
                        <img width="100" src="assets/img/4.png"/>
                    </div>
                </div>
            </div>
        </div>
</div>
